<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LEONS</title>
    <link rel="stylesheet" href="../styles/index.css">
    <script src="https://kit.fontawesome.com/44c1fd9490.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- Navbar -->
    <header>
        <nav class="navbar">
            <div class="navbar-left">
                <button class="menu-icon">☰</button>
                <img src="../images/logo_leons.png" alt="LEONS Logo" class="logo">
            </div>
            <div class="navbar">
                <input type="text" placeholder="" class="input">
                <button class="search-btn">Buscar</button>
            </div>
            <div class="navbar-right">
                <a href="#" class="h-pedios">Pedidos</a>
                <a href="#" class="h-contactanos">Contactanos</a>
                <a href="#" class="cart-icon">🛒</a>
            </div>
        </nav>
    </header>

    <main>
        <div class="carrousel">
            <div class="conteCarrousel">
                <div class="itemCarrousel" id="itemCarrousel-1">
                    <div class="itemCarrouselTarjeta" >
                        <img src="../images/fondo1.png" alt="Yellow Shirt" >
                    </div>
                    <div class="itemCarrouselArrows">
                        <a href="#itemCarrousel-3">
                            <i class="fas fa-chevron-left"></i>
                        </a>
                        <a href="#itemCarrousel-2">
                            <i class="fas fa-chevron-right"></i>
                        </a>
                    </div>
                </div>
                <div class="itemCarrousel" id="itemCarrousel-2">
                    <div class="itemCarrouselTarjeta">
                        <img src="../images/carrusel2.png" alt="carrusel2" >
                    </div>
                    <div class="itemCarrouselArrows">
                        <a href="#itemCarrousel-1">
                            <i class="fas fa-chevron-left"></i>
                        </a>
                        <a href="#itemCarrousel-3">
                            <i class="fas fa-chevron-right"></i>
                        </a>
                    </div>
                </div>
                <div class="itemCarrousel" id="itemCarrousel-3">
                    <div class="itemCarrouselTarjeta">
                        <img src="../images/carrusel3.png" alt="carrusel3" >
                    </div>
                    <div class="itemCarrouselArrows">
                        <a href="#itemCarrousel-2">
                            <i class="fas fa-chevron-left"></i>
                        </a>
                        <a href="#itemCarrousel-1">
                            <i class="fas fa-chevron-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="conteCarrouselController">
                <a href="#itemCarrousel-1">•</a>
                <a href="#itemCarrousel-2">•</a>
                <a href="#itemCarrousel-3">•</a>
            </div>
        </div>
    </main>
    <!-- Categorías -->
    <section class="categories">
        <h2>POLOS DEPORTIVOS</h2>
        <h4>!Los mejores Diseños¡</h4>
        <div class="category-list">
            <img src="../images/hombre_deportivo.png" alt="hombre" class="category-image">
            <h3>HOMBRE</h3>
        </div>
        <div class="category-list">
            <img src="../images/mujes_polos.png" alt="mujer" class="category-image">
            <h3>MUJER</h3>
        </div>
        <div class="category-list">
            <img src="../images/niño_deportivo.png" alt="ninio" class="category-image">
            <h3>NIÑO</h3>
        </div>
    </section>
    <section class="categories">
        <h2>BUZOS DEPORTIVOS</h2>
        <h4>!Lo mas nuevo en Moda¡</h4>
        <div class="category-list">
            <img src="../images/hombre_buzos.png" alt="hombre" class="category-image">
            <h3>HOMBRE</h3>
        </div>
        <div class="category-list">
            <img src="../images/mujer_buzos.png" alt="mujer" class="category-image">
            <h3>MUJER</h3>
        </div>
        <div class="category-list">
            <img src="../images/niños_buzos.png" alt="ninio" class="category-image">
            <h3>NIÑO</h3>
        </div>
    </section>

    <section class="vendido">
        <h2>Lo mas pedido en Buzos</h2>
        <div class="productos" >
            <div class="apartado">
                <div class="imagen">
                    <img src="../images/hombre_buzos.png" alt="hombre" class="category-image">
                </div>
                <div class="descripcion">
                    <h1>Buzo deportivo Hombre Diseño Adidas</h1>
                    <h1>S/ 59.99</h1>
                </div>
            </div>
            <div class="apartado">
                <div class="imagen">
                    <img src="../images/mujer_buzos.png" alt="mujer" class="category-image">
                </div>
                <div class="descripcion">
                    <h1>Buzo deportivo Mujer Diseño Adidas</h1>
                    <h1>S/ 69.99</h1>
                </div>
            </div>
            <div class="apartado">
                <div class="imagen">
                    <img src="../images/niños_buzos.png" alt="ninio" class="category-image">
                </div>
                <div class="descripcion">
                    <h1>Buzo deportivo Niños Diseño Adidas</h1>
                    <h1>S/ 89.99</h1>
                </div>
            </div>
            <div class="apartado">
                <div class="imagen">
                    <img src="../images/niños_buzos.png" alt="ninio" class="category-image">
                </div>
                <div class="descripcion">
                    <h1>Buzo deportivo Niños Diseño Adidas</h1>
                    <h1>S/ 89.99</h1>
                </div>
            </div>
            <div class="apartado">
                <div class="imagen">
                    <img src="../images/niños_buzos.png" alt="ninio" class="category-image">
                </div>
                <div class="descripcion">
                    <h1>Buzo deportivo Niños Diseño Adidas</h1>
                    <h1>S/ 89.99</h1>
                </div>
            </div>
            <div class="apartado">
                <div class="imagen">
                    <img src="../images/niños_buzos.png" alt="ninio" class="category-image">
                </div>
                <div class="descripcion">
                    <h1>Buzo deportivo Niños Diseño Adidas</h1>
                    <h1>S/ 89.99</h1>
                </div>
            </div>
            <div class="apartado">
                <div class="imagen">
                    <img src="../images/niños_buzos.png" alt="ninio" class="category-image">
                </div>
                <div class="descripcion">
                    <h1>Buzo deportivo Niños Diseño Adidas</h1>
                    <h1>S/ 89.99</h1>
                </div>
            </div>
            <div class="apartado">
                <div class="imagen">
                    <img src="../images/niños_buzos.png" alt="ninio" class="category-image">
                </div>
                <div class="descripcion">
                    <h1>Buzo deportivo Niños Diseño Adidas</h1>
                    <h1>S/ 89.99</h1>
                </div>
            </div>
            <div class="apartado">
                <div class="imagen">
                    <img src="../images/niños_buzos.png" alt="ninio" class="category-image">
                </div>
                <div class="descripcion">
                    <h1>Buzo deportivo Niños Diseño Adidas</h1>
                    <h1>S/ 89.99</h1>
                </div>
            </div>
        </div>
    </section>
</body>
</html>

