<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LEONS</title>
    <link rel="stylesheet" href="../styles/mujeres_po.css">
</head>
<body>
    <!-- Navbar -->
    <header>
        <nav class="navbar">
            <div class="navbar-left">
                <button class="menu-icon">☰</button>
                <img src="../images/logo_leons.png" alt="LEONS Logo" class="logo">
            </div>
            <div class="navbar">
                <input type="text" placeholder="" class="input">
                <button class="search-btn">Buscar</button>
            </div>
            <div class="navbar-right">
                <a href="#" class="h-pedios">Pedidos</a>
                <a href="#" class="h-contactanos">Contactanos</a>
                <a href="#" class="cart-icon">🛒</a>
            </div>
        </nav>
    </header>
    <section class="vendido">
        <h2>Lo mas pedido en Buzos</h2>
        <div class="productos" >
            <div class="apartado">
                <div class="imagen">
                    <img src="../images/hombre_buzos.png" alt="hombre" class="category-image">
                </div>
                <div class="descripcion">
                    <h1>Buzo deportivo Hombre Diseño Adidas</h1>
                    <h1>S/ 59.99</h1>
                </div>
            </div>
            <div class="apartado">
                <div class="imagen">
                    <img src="../images/mujer_buzos.png" alt="mujer" class="category-image">
                </div>
                <div class="descripcion">
                    <h1>Buzo deportivo Mujer Diseño Adidas</h1>
                    <h1>S/ 69.99</h1>
                </div>
            </div>
            <div class="apartado">
                <div class="imagen">
                    <img src="../images/niños_buzos.png" alt="ninio" class="category-image">
                </div>
                <div class="descripcion">
                    <h1>Buzo deportivo Niños Diseño Adidas</h1>
                    <h1>S/ 89.99</h1>
                </div>
            </div>
            <div class="apartado">
                <div class="imagen">
                    <img src="../images/niños_buzos.png" alt="ninio" class="category-image">
                </div>
                <div class="descripcion">
                    <h1>Buzo deportivo Niños Diseño Adidas</h1>
                    <h1>S/ 89.99</h1>
                </div>
            </div>
            <div class="apartado">
                <div class="imagen">
                    <img src="../images/niños_buzos.png" alt="ninio" class="category-image">
                </div>
                <div class="descripcion">
                    <h1>Buzo deportivo Niños Diseño Adidas</h1>
                    <h1>S/ 89.99</h1>
                </div>
            </div>
            <div class="apartado">
                <div class="imagen">
                    <img src="../images/niños_buzos.png" alt="ninio" class="category-image">
                </div>
                <div class="descripcion">
                    <h1>Buzo deportivo Niños Diseño Adidas</h1>
                    <h1>S/ 89.99</h1>
                </div>
            </div>
        </div>
    </section>
</body>
</html>